*{
    margin:0;
    padding:0
}

nav{
    background-color: blueviolet;
    color:white;
    height:60px;
    font-size: 27px;
    display:flex;
    align-items: center;
    padding:0 12px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    list-style-type:none;
}

.gamecontainer{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    position: relative;
    display:grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    border: 2px solid rgba(0, 0, 0, 0.564);
    font-size: 8vw;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(217, 180, 252);
}

.gameinfo{
    padding:0 34px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.info{
    
        position: relative;
        top: 1px; /* pushes the element down from its current spot */
    
}


.imgbox img{
    width:0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.line{
    background-color: blueviolet;
    width:0;
    height:3px;
    position: absolute;
    transition: width 1s ease-in-out;
   
}

button{
    margin:25px 10px;
    padding:1px 12px;
    background-color:rgb(245 180 252 / 83%);
    border-radius: 6px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
}

@media screen and (max-width: 268px) {
    .gamecontainer {
        flex-wrap: wrap;
    }

    .gameinfo{
        margin-top: 28px;
    }

    .gameinfo h1{
        font-size: 1rem;
    }

    .container{
        grid-template-rows: repeat(3,30vw);
        grid-template-columns: repeat(3,20vw);
    }
    
    #reset{
        position: relative;
        top:9px;
    }
   
}
    
